*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

input, textarea, select, button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Fraunces-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header-menu-desktop {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 1.5rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 0.3) 100%);
}
.header-menu-desktop .box-logo {
  height: auto;
  width: 11.5rem;
  overflow: hidden;
}
.header-menu-desktop .box-logo .logo-JO {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.5s ease;
}
.header-menu-desktop:hover .logo-JO {
  opacity: 0;
}
.header-menu-desktop:hover::after {
  content: url("/Photos/logo-etat-2.svg");
  position: absolute;
  padding: 3rem 4.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.header-menu-desktop .anneaux {
  display: flex;
  gap: 1rem;
  padding: 0 85rem 0 0;
  opacity: 0;
}
.header-menu-desktop .anneaux .ellipse {
  padding: 10rem 0 0 0;
}
.header-menu-desktop .box-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  align-self: stretch;
  flex: 0 0 auto;
}
.header-menu-desktop .box-menu .box-search-icons {
  flex: 0 0 auto;
  flex-grow: 1;
  display: inline-flex;
  max-width: 60rem;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  padding: 1rem 1.5rem;
}
.header-menu-desktop .box-menu .box-search-icons .search-bar {
  display: flex;
  width: 48rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.header-menu-desktop .box-menu .box-search-icons .search-bar .div-search {
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #e1dede;
  border-radius: 0.5rem;
}
.header-menu-desktop .box-menu .box-search-icons .search-bar .icon-search {
  flex: 1;
  flex-grow: 1;
  height: 2.5rem;
}
.header-menu-desktop .box-menu .box-search-icons .icones-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  align-self: stretch;
  flex: 0 0 auto;
}
.header-menu-desktop .box-menu .section {
  display: inline-flex;
  align-items: center;
  gap: 6rem;
  padding: 0.5rem 1rem;
  flex: 0 0 auto;
}
.header-menu-desktop .box-menu .section .text-wrapper {
  font-size: 1.5rem;
  line-height: 2rem;
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */