<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--*************  Links  *************--> 
    <link rel="stylesheet" href="/css/main.css">
    <title>Admin-login</title>
</head>
<body>
    <main class="admin-login">
        <div class="logos-admin">
            <img class="logo-admin" src="/assets/image/logo-admin-paraJo.svg" alt="logo jo paralympique">
            <img class="logo-admin" src="/assets/image/logo-admin-Jo.svg" alt="logo Jo 2024">
        </div>
        <div class="psw-admin">
            <p class="title-log">Compte Administrateur</p>
            <form class="form-admin" action="/admin/login" method="post">
                <input class="input-admin" type="password" name="password" placeholder="Mot de passe" id="password" required>
                <input class="submit-btn" type="submit" value="Connexion">
            </form>
            <div>
                <p th:if="${error}" th:text="${error}" class="error-message"></p>
            </div>
        </div>
    </main>
</body>
</html>