.main-wrapper{
  position: relative; 
  display: flex;

  .main-group {
    display: flex;
    position: relative;
    width: 100%;
  
    //nav-bar à gauche
    .nav-sidebars{
      display: none;
      padding: .75rem .75rem .75rem 0;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      position: fixed;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100vh;
      z-index: 10;
  
      @include respond-to(desktop) { 
        display: block;
      }
  
      .nav-sideBar{
        flex-grow: 1;
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%;
    
        .header-menu-sidebar{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items:center;
          position: relative;
          padding: 1.5rem;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.82) 0%,
            rgba(102, 102, 102, 0.82) 100%
          );
          border-radius: 0 1rem 1rem 0;
          width: auto;
          height: 80vh;
    
          .logo-olympique{
            width: 5rem;
            height: 5rem;
          }
    
          .icons-sidebar{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            justify-content: center;
    
            .icon-sidebar{
              width: 30px;
              height: 30px;
            }
          }
    
          .contact-sidebar{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  
    // Les sections
    .sections{
      display: flex;
      flex-direction: column;
      padding: 0 4.5rem 4rem 9.5rem;
      justify-content: flex-start;
      align-items: center;
  
      .section{
        padding-top: 4rem;
  
        .title-section{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 1.5rem;
          box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.25);
          font-size: 2rem;
          padding: 1rem;
          margin: 2rem 0 1rem 0;
          color: white;
          width: 50vw;

        }
  
        .title-section-1{
          background: $blue-linear;
        }
  
        .title-section-3{
          background: $yellow-linear;
        }
  
        .title-section-4{
          background: $black-linear;
        }
        .title-section-5{
          background: $green-linear;
        }
        .paragraphs{
          display: grid;
          grid-template-columns: 50% 50%;
          justify-content: space-between;
          align-items: start;
          gap: 2rem;
          padding: 2rem 0 3rem 0;

          p{
            font-size: 1.5rem;
            padding-bottom: 2rem;
            line-height: 2rem;
            text-align: justify;
            padding: 1.5rem;
            border-radius: .5rem;
            border: 2px solid black;
          }
        }
      }
  
      .section1{
        
        .image-itinery{
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          border-radius: 2rem;
        }
  
        .list-points{
          list-style-type:decimal;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          
          h3{
            font-size: 1.75rem;
            padding-bottom: 1rem;
          }

          .list-point{
            border: 2px solid black;
            padding: .75rem;
            border-radius: .75rem;
            
          }
        }
  
        .cards-news{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 1rem;
  
          .card-news{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            height: 550px;
            border-radius: 1rem;
            box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.25);
            padding: 2rem;
            background:$cardsColor;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
  
            .img-card-news{
              width: 100%;
              height: auto;
              max-height: 200px;
              border-radius: .5rem;
            }
  
            .title-card-news{
              font-size: 1rem;
            }
  
            .paragraph-card-news{
              font-size: .75rem;
              text-align: justify;
              text-overflow: ellipsis;
              height: 150px;
              overflow: hidden;
            }
          }
  
          .card-news.expanded {
            width: 40%; 
            height: 600px; 
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  
            .paragraph-card-news{
              font-size: .75rem;
              text-align: justify;
              text-overflow: ellipsis;
              height: 200px;
              overflow: hidden;
              overflow-y: scroll;
            }
          }
        }
      }
      
      .section2{

        .cards-news-feed{
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .section-display{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 2rem;
            background: $cardsColor;
            text-align: justify;
            text-overflow: ellipsis;

            .text-content-cards-feed{
              padding: 1rem;
              max-width: 50%;

              .title-news-feed{
                font-size: 1.75rem;
                padding-bottom: 1rem;

              }
            }

            .illustration{
              width: 50%;
              max-height: 1000px;
              height: auto;
              margin-bottom: 2rem;
              border-radius: 2rem;
            }
          }

          .right-text-content{
            flex-direction: row-reverse;
          }
        }
      }
  
      .advense{
      
        .titel-advense{
      
          .line-black{
      
          }
        }
        .image-advense{
      
        }
      }
    }
  }
}