.btn-filter {
  position: relative;
  display: inline-block;
  margin-right: 1rem;

  .dropdown-button {
    background: white;
    border: 2px solid black;
    border-radius: .5rem;
    padding: .5rem 1rem;
    gap: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    z-index: 2;

    .dropdown-button img {
      width: 1rem;
      height: 1rem;
      transition: transform 0.3s;
      margin-left: auto;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 2px solid black;
    width: 100%;
    display: block;
    border-radius: .5rem;

    .dropdown-item {
      padding: .5rem;
      background: white;
      border-radius: .5rem;
      cursor: pointer;

      &:hover {
        background: $grey-light;
      }
    }
  }

  .dropdown-menu.hidden {
      display: none; 
  }
}








