$black:rgba(0, 0, 0, 0);
$black-light: rgba(0, 0, 0, .6);
$white: rgba(255, 255, 255, 1);
$grey:  rgba(153, 153, 153, 1);
$grey-light:  rgb(228, 226, 226);
$shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.5);
$footer: rgba(45, 44, 44, .9);
$primary: rgba(215, 195, 120, 1);

$secondary: conic-gradient(white 25%, grey 85%, black 100%); //couleur conique

